{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>Player:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href=""></a>
			<table class="table table-sm">
				<tr>
					<th>Player</th>
					<th>email</th>
				</tr>
                {% for user in player%}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                </tr>
                
                {% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Mode</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Mode</a>
			<table class="table table-sm">
				<tr>
					<th>Mode</th>
					<th>SLP Earn</th>
					<th>Date</th>
				</tr>
                {% for user in slp%}
                <tr>
                    <td>{{user.Mode}}</td>
                    <td>{{user.slp}}</td>
                    <td>{{user.date_created}}</td>
                    
                </tr>
                
                {% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}